<header class="container-fluid d-flex justify-content-center p-3">
  <h1> ToDo App with Angular</h1>
</header>
<div class="container">
  <h3 class="d-flex justify-content-center p-3" >Todo List</h3>
  <div class="list-group">
    <a href="#" class="d-flex justify-content-between align-items-center" [class]="item.completed === true ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-warning' "
     *ngFor="let item of ItemList" (click)="setCompleted(item)" > {{ item.itemName }} <button (click)="deleteItem(item)" class="btn btn-danger">X</button> </a>
    
  </div>
  <div class="list-group mt-5">
    <a href="#" class="list-group-item" >
      <input type="text" class="form-control" [(ngModel)]="Item.itemName" >
    </a>
    <a href="#" class="list-group-item" >
      <button class="btn btn-success" (click)="addItem()" >Add Todo</button>
    </a>
  </div>
</div>
